<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNWLU1Fgz4-KRVV_bHfRDsBbkkbgB7pZY</string>
	<key>GCM_SENDER_ID</key>
	<string>850918154320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petcare</string>
	<key>PROJECT_ID</key>
	<string>upload-pets4life</string>
	<key>STORAGE_BUCKET</key>
	<string>upload-pets4life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850918154320:ios:2f0533bb039b54dbac7155</string>
</dict>
</plist>